@import "variables";
.footer {
  .row {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &__container {
    @include for-desktop() {
      display: flex;
      padding-bottom: 8rem;
    }
  }
  background-color: $primary-color-3;
  padding-top: 20rem;
  padding-inline: 3.5rem;
  color: $white;
  @include for-desktop() {
    padding-inline: $desktop-padding;
  }
  &-logo {
    margin-bottom: 5rem;
  }
  .special {
    align-self: flex-start;
    margin-top: 0.45rem;
  }
  .first {
    @include for-desktop() {
      width: 35%;
      align-self: flex-start;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include for-desktop() {
      flex-direction: row;
    }
    &-description {
      display: flex;
      align-items: center;
      gap: 2rem;
      &-paragraph {
        line-height: 1.7;
        font-size: $default-font-size;
      }
    }
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @include for-desktop() {
      flex-direction: row;
    }

    ul {
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      a {
        text-decoration: none;
        color: $white;
        font-size: $default-font-size;
      }
    }
  }
}
